html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
  margin: 0 0;
  background-image: url(/assets/back.png);
  background-attachment: local;
  background-size: contain;
}

header {
  height: 100px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo {
  height: 100%;
  width: 110px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .logo img {
  image-rendering: crisp-edges;
  margin: auto auto;
  width: 105px;
  height: 105px;
}

header .menu-info {
  display: inline-block;
  height: 100%;
  width: calc(100% - 110px);
}

header .menu-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  width: 100%;
  background-color: #8d0002;
  border-bottom-left-radius: 15px;
}

header .menu-info .info .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  height: 100%;
  width: 220px;
}

header .menu-info .info .block .ico_mail {
  margin-top: 10px;
  height: 80%;
  width: 60px;
  background-image: url("../assets/ico/mail.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .menu-info .info .block .ico_phone {
  margin-top: 10px;
  height: 70%;
  width: 50px;
  background-image: url("../assets/ico/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
}

header .menu-info .info .block .text {
  height: 100%;
  width: calc(100% - 70px);
  margin-left: 5px;
  margin-top: 3px;
}

header .menu-info .info .block .text .title {
  font-size: 14px;
  margin-top: 10px;
  height: 30%;
  width: 100%;
  color: #a1a1a1;
  font-family: "Roboto", serif;
  font-weight: 500;
}

header .menu-info .info .block .text .desc {
  margin-top: 3px;
  height: 40%;
  width: 100%;
  color: white;
  font-family: "Roboto", serif;
}

header .menu-info .info .decor {
  width: 150px;
  height: 100%;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
          clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
}

header .menu-info .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  width: 100%;
  background-color: white;
  text-align: center;
}

header .menu-info .menu .element {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 150px;
  margin-left: 5px;
  height: 100%;
}

header .menu-info .menu .element img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
  background-size: contain;
}

header .menu-info .menu .element a {
  text-decoration: none;
  margin: auto 0;
  margin-left: 5px;
  color: #1b1b1b;
  text-transform: uppercase;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  width: calc(100% - 65px);
  -webkit-user-select: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header .menu-info .menu .element a:hover {
  -webkit-transform: scale(0.97, 0.97);
          transform: scale(0.97, 0.97);
  color: #a30000;
}

.billboard {
  position: relative;
  display: inline-block;
  height: 450px;
  width: 100%;
  background-image: url("../assets/previews/shutterstock_288224675.jpg");
  background-size: cover;
  background-position: center;
}

.billboard .slogans_block {
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.billboard .slogans_block .slogan {
  color: white;
  text-align: center;
  width: 25%;
  height: 40%;
  margin: auto auto;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  text-shadow: 4px 4px 4px #0f0f0f;
  font-weight: 500;
}

.billboard .textUs {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #8d0002;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.billboard .textUs .block {
  margin: auto auto;
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.billboard .textUs .block .text {
  margin: auto auto;
  height: 80%;
  width: 70%;
  color: white;
  font-family: "Roboto", serif;
  font-size: 25px;
}

.billboard .textUs .block .btn {
  height: 55%;
  width: 16%;
  background-color: #1f1f1f;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.billboard .textUs .block .btn a {
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 22px;
  width: 100%;
  margin: auto auto;
  color: white;
  font-family: "Roboto", serif;
  line-height: 22px;
  font-size: 22px;
}

.billboard .textUs .block .btn:hover {
  background-color: #330000;
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}

.title {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title p {
  color: #8d0002;
  margin: auto auto;
  border-bottom: 3px solid #303030;
  width: 30%;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-size: 30px;
}

.categories {
  margin: auto auto;
  background-color: white;
  width: 100%;
  height: 320px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.categories .inside {
  margin: auto auto;
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories .inside .pos {
  -webkit-user-select: none;
  margin: auto auto;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.197);
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.197);
  border: 1px solid #b3b3b3;
  width: 47%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.categories .inside .pos .photo {
  margin: auto auto;
  width: 35%;
  height: 90%;
  background-size: cover;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.197);
          box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.197);
}

.categories .inside .pos .info {
  margin: auto auto;
  width: 60%;
  height: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories .inside .pos .info .name {
  width: 83%;
  height: 15%;
  background-color: #df3232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories .inside .pos .info .name p {
  text-indent: 5px;
  width: 100%;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Roboto", serif;
  color: white;
  margin: auto auto;
}

.categories .inside .pos .info .desc {
  width: 100%;
  height: 80%;
  padding-top: 5px;
  font-family: "Roboto", serif;
  text-indent: 30px;
  font-weight: 300;
}

.cat_block {
  margin: auto auto;
  width: 100%;
  height: 180px;
  display: flexbox;
}

.cat_block .block {
  margin: auto auto;
  width: 70%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cat_block .block .cat {
  margin: auto auto;
  background-color: #3fa480;
  width: 20%;
  height: 50%;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.497);
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.497);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 0;
  -webkit-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}

.cat_block .block .cat:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cat_block .block .cat a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto auto;
  text-align: center;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  color: white;
  font-size: 17px;
  line-height: 17px;
  height: 17px;
  text-decoration: none;
}

.product_card_line {
  margin: 15px auto;
  width: 70%;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_line .card {
  margin: auto auto;
  background-color: #eeeeee;
  width: 20%;
  max-height: 700px;
  -webkit-box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.product_card_line .card .photo {
  width: 100%;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}

.product_card_line .card .name {
  background-color: #3fa480;
  width: 100%;
  height: 50px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_line .card .name p {
  margin: auto auto;
  text-align: center;
  width: 100%;
  line-height: 26px;
  height: 26px;
  color: white;
  font-size: 26px;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-weight: 300;
}

.product_card_line .card .desc {
  width: 100%;
  height: 40%;
  display: inline-block;
}

.product_card_line .card .desc .block {
  margin: 9px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_line .card .desc .block .property {
  font-family: "Roboto", serif;
}

.product_card_line .card .desc .block .text {
  font-family: "Roboto", serif;
  font-weight: 300;
  margin-left: 8px;
}

.about_block {
  margin: 15px auto;
  background-color: #f1f1f1;
  width: 100%;
  height: 440px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.about_block .block {
  margin: auto auto;
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_block .block .photo {
  margin: auto auto;
  background-color: #d1bbbb;
  width: 25%;
  height: 90%;
  background-image: url("..//assets/logo/ma.jpg");
  background-size: cover;
  border: 4px solid #8d0002;
}

.about_block .block .info {
  margin: auto auto;
  width: 70%;
  height: 90%;
}

.about_block .block .info .content {
  width: 50%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_block .block .info .content .ico {
  width: 20%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("..//assets/logo/icon_S.png");
}

.about_block .block .info .content .name {
  margin: auto auto;
  width: 80%;
  height: 70%;
  color: #8d0002;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-size: 30px;
}

.about_block .block .info .text {
  width: 100%;
  height: 80%;
  display: inline-block;
}

.about_block .block .info .text p {
  text-indent: 30px;
  padding-bottom: 8px;
  margin: 15px auto;
  word-wrap: break-word;
  max-height: 37%;
  width: 95%;
  border-bottom: 3px solid #790000;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 300;
}

.cont_block {
  margin: 15px auto;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_block .block {
  margin: auto auto;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_block .block .map {
  margin: auto auto;
  background-color: #490000;
  width: 60%;
  height: 90%;
}

.cont_block .block .contacts_block {
  margin: auto auto;
  width: 33%;
  height: 90%;
  display: inline-flexbox;
}

.cont_block .block .contacts_block .title_cont {
  margin: auto auto;
  width: 100%;
  height: 15%;
  color: #3fa480;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
}

.cont_block .block .contacts_block .title_cont p {
  text-align: center;
  margin: auto auto;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  width: 100%;
  height: 30px;
  font-size: 30px;
  font-family: "Roboto", serif;
  padding-bottom: 5px;
}

.cont_block .block .contacts_block .block {
  margin: auto auto;
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_block .block .contacts_block .block .left {
  width: 50%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.cont_block .block .contacts_block .block .left input {
  margin: 5px 5px;
  text-decoration: none;
  width: 90%;
  height: 30px;
  border-radius: 7px;
  font-size: 18px;
  word-wrap: break-word;
  font-weight: 300;
  font-family: "Roboto", serif;
  border: 1px solid #535353;
}

.cont_block .block .contacts_block .block .left p {
  font-size: 18px;
  font-family: "Roboto", serif;
  color: #363636;
  font-weight: 400;
  max-height: 40px;
  margin: 5px;
  margin-top: 10px;
}

.cont_block .block .contacts_block .block .left .info {
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto", serif;
  max-height: 20px;
  margin-top: 5px;
}

.cont_block .block .contacts_block .block .right {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.cont_block .block .contacts_block .block .right input {
  border: 1px solid #535353;
  margin: 5px 5px;
  text-decoration: none;
  width: 90%;
  height: 30px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", serif;
}

.cont_block .block .contacts_block .block .right textarea {
  border: 1px solid #535353;
  font-weight: 300;
  margin: 5px 5px;
  text-decoration: none;
  width: 90%;
  height: 70%;
  border-radius: 7px;
  font-size: 18px;
  word-wrap: break-word;
  font-size: 18px;
  font-family: "Roboto", serif;
  resize: none;
}

.cont_block .block .contacts_block .block .right .btn {
  outline: none;
  border: 1px solid #ff3300;
  background-color: #d44b4b;
  margin: 5px 5px;
  text-decoration: none;
  width: 90%;
  height: 40px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", serif;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.cont_block .block .contacts_block .block .right .btn:hover {
  cursor: pointer;
  background-color: #ff1414;
  border: 1px solid #ff4800;
}
/*# sourceMappingURL=index.css.map */