$main_color: #8d0002;

html{

    scroll-behavior: smooth;
}


body {
    background-color: #f1f1f1;
    margin: 0 0;
    background-image: url(/assets/back.png);
   
    background-attachment: local;
    background-size: contain;
  
}

header {
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;

    .logo {
        height: 100%;
        width: 110px;
        //  background-color: rgb(255, 0, 0);
        display: inline-flex;

        img {
            image-rendering: crisp-edges;
            margin: auto auto;
            width: 105px;
            height: 105px;
            // background-color:rgb(17, 172, 172);
        }
    }

    .menu-info {
        display: inline-block;
        height: 100%;
        width: calc(100% - 110px);
     //   background-color: rgb(85, 85, 85);

        .info {
            display: flex;
            height: 60%;
            width: 100%;
            background-color: $main_color;
            border-bottom-left-radius: 15px;

            .block {
                display: flex;
                margin-left: 30px;
                height: 100%;
                width: 220px;
                //  background-color: rgb(117, 117, 117);

                .ico_mail {
                    margin-top: 10px;
                    height: 80%;
                    width: 60px;
                    //  background-color: rgb(0, 0, 0);
                    background-image: url("../assets/ico/mail.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .ico_phone {
                    margin-top: 10px;
                    height: 70%;
                    width: 50px;
                    //  background-color: rgb(0, 0, 0);
                    background-image: url("../assets/ico/phone.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .text {
                    height: 100%;
                    width: calc(100% - 70px);
                    //   background-color: rgb(36, 109, 151);
                    margin-left: 5px;
                    margin-top: 3px;
                    .title {
                        font-size: 14px;
                        margin-top: 10px;
                        height: 30%;
                        width: 100%;
                        // background-color: rgb(90, 36, 151);
                        color: rgb(161, 161, 161);
                        font-family: "Roboto", serif;
                        font-weight: 500;
                    }

                    .desc {
                        margin-top: 3px;
                        height: 40%;
                        width: 100%;
                        // background-color: rgb(49, 151, 36);
                        color: rgb(255, 255, 255);
                        font-family: "Roboto", serif;
                    }
                }
            }

            .decor {
                width: 150px;
                height: 100%;
                background-color: rgb(255, 255, 255);

                clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
            }
        }

        .menu {
            display: flex;
            height: 40%;
            width: 100%;
            background-color: rgb(255, 255, 255);

            text-align: center;

            .element {
                display: inline-flex;
                height: 100%;
                width: 150px;
                margin-left: 5px;
                height: 100%;
               // vertical-align: middle;

             

               
             
                img {
                    display: flex;
                    height: 25px;
                    width: 25px;
                    // box-shadow: 4px 4px 8px 0px black;

                   //   background-color: rgb(248, 12, 12);
                  //   background-image: url("../assets/ico/home.png");
                    background-size: contain;
                }

                a {
                    text-decoration: none;
                    margin: auto 0;
                    margin-left: 5px;
                    color: rgb(27, 27, 27);
                    text-transform: uppercase;
                    font-family: "Roboto", serif;
                    font-weight: 400;
                    font-size: 18px;
                    height: 18px;
                    line-height: 18px;

                    // vertical-align: middle;
                    width: calc(100% - 65px);

                    -webkit-user-select: none;

transition: .2s ease-in-out;

                    &:hover {
                        transform: scale(0.97,0.97);
                        color: #a30000;
                    }
                }
            }
        }
    }
}

.billboard {
    position: relative;
    display: inline-block;
    height: 450px;
    width: 100%;
 //   background-color: rgba(0, 0, 0, 0.085);

    background-image: url("../assets/previews/shutterstock_288224675.jpg");
    background-size: cover;
    background-position: center;
    //filter: contrast(20%);

    .slogans_block {
        width: 100%;
        height: calc(100% - 100px);
        background-color: rgba(255, 255, 255, 0.25);

        display: flex;

        .slogan {
            color: white;
            //  background-color: rgb(151, 8, 8);
text-align: center;
            width: 25%;
            height: 40%;
            margin: auto auto;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 46px;
            text-shadow: 4px 4px 4px rgb(15, 15, 15);
            font-weight: 500;
        }
    }

    .textUs {
        position: absolute;
        bottom: 0px;

        height: 100px;
        width: 100%;
        background-color: $main_color;

        display: inline-flex;

        .block {
            margin: auto auto;

            height: 80%;
            width: 80%;
            //background-color: white;

            display: flex;

            .text {
                margin: auto auto;

                height: 80%;
                width: 70%;
                //   background-color: rgb(116, 44, 44);
                color: white;
                font-family: "Roboto", serif;
                font-size: 25px;
            }

            .btn {
                height: 55%;
                width: 16%;
                background-color: rgb(31, 31, 31);
                margin: auto auto;
                display: flex;
cursor: pointer;
                a {
                    text-decoration: none;
                    text-align: center;
                    // background-color: rgb(177, 31, 31);
user-select: none;
                    height: 22px;
                    width: 100%;
                    margin: auto auto;
                    color: white;
                    font-family: "Roboto", serif;
                    line-height: 22px;
                    font-size: 22px;
                }

                transition-duration: .4s;
                &:hover{
                    background-color: rgb(51, 0, 0);
transform: scale(0.95, 0.95);

                }
            }
        }
    }
}

.title {
    margin-top: 10px;
    //background-color: aquamarine;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;

    p {
        color: $main_color;
        margin: auto auto;
        border-bottom: 3px solid rgb(48, 48, 48);
        width: 30%;
        font-family: "Roboto", serif;
        text-transform: uppercase;
        font-size: 30px;
    }
}

.categories {
    margin: auto auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 320px;

    display: inline-flex;

    .inside {
        margin: auto auto;
        // background-color: rgb(133, 36, 36);
        width: 70%;
        height: 90%;
        display: flex;

        .pos {
           
            -webkit-user-select: none;
            margin: auto auto;
            // background-color: rgb(96, 133, 36);
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.197);
            border: 1px solid rgb(179, 179, 179);
            width: 47%;
            height: 100%;

            display: flex;

            transition-duration: .5s;

            .photo {
                margin: auto auto;
                width: 35%;
                height: 90%;
             //   background-color: rgb(96, 133, 36);
                background-size: cover;
                box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.197);
            }

            .info {
                margin: auto auto;
                width: 60%;
                height: 90%;
                //background-color: rgb(36, 133, 101);

                flex-wrap: wrap;

                .name {
                    width: 83%;
                    height: 15%;
                    background-color: rgb(223, 50, 50);

                    display: flex;

                    p {
                        text-indent: 5px;
                        width: 100%;
                        height: 20px;
                        font-size: 20px;
                        line-height: 20px;
                        font-weight: 300;
                        //    background-color: rgb(189, 59, 59);
                        font-family: "Roboto", serif;
                        color: white;
                        margin: auto auto;
                    }
                }

                .desc {
                    width: 100%;
                    height: 80%;
                    padding-top: 5px;
                    font-family: "Roboto", serif;
                    text-indent: 30px;
                    font-weight: 300;

                    //   background-color: rgb(133, 36, 128);
                }
            }
        }
    }
}

.cat_block {
    margin: auto auto;
    // background-color: rgb(31, 204, 59);
    width: 100%;
    height: 180px;

    display: flexbox;

    .block {
        margin: auto auto;
        //background-color: rgb(31, 112, 204);
        width: 70%;
        height: 50%;

        display: flex;

        .cat {
            margin: auto auto;
            background-color: #3fa480;
            width: 20%;
            height: 50%;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.497);
            display: inline-flex;
            opacity: 0;

            transition: all .6s ease 0s;
            p {
                user-select: none;
                margin: auto auto;
                text-align: center;
                font-family: "Roboto", serif;
                text-transform: uppercase;
                color: white;
                font-size: 17px;
                line-height: 17px;
                height: 17px;
            }
        }
    }
}

.product_card_line {
    margin: 15px auto;
    //background-color: #663fa4;
    width: 70%;
    max-height: 700px;

    display: flex;

    .card {
        margin: auto auto;
        background-color: #eeeeee;
        width: 20%;
        max-height: 700px;
        box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.25);
        display: inline-block;
        transition: all 0.4s ease 0s;

        .photo {
            //background-color: #605670;
            width: 100%;
            height: 250px;
            background-size: contain;
            background-repeat: no-repeat;

           
        }

        .name {
            background-color: #3fa480;
            width: 100%;
            height: 50px;

            transition: all 0.4s ease 0s;

            display: flex;
            p {
                margin: auto auto;
                text-align: center;
                width: 100%;
                line-height: 26px;
                height: 26px;
                color: white;
                font-size: 26px;
                font-family: "Roboto", serif;
                text-transform: uppercase;
                font-weight: 300;
            }
        }

        .desc {
            //  background-color: #13012e;
            width: 100%;
            height: 40%;

            display: inline-block;

            .block {
                // background-color: #13012e;
                margin: 9px 5px;
                display: flex;
                .property {
                    font-family: "Roboto", serif;
                    //  background-color: #012e0c;
                }

                .text {
                    font-family: "Roboto", serif;
                    font-weight: 300;
                    margin-left: 8px;
                    //  background-color: #2d2e01;
                }
            }
        }
    }
}

.about_block {
    margin: 15px auto;
    background-color: #f1f1f1;
    width: 100%;
    height: 440px;

    display: inline-flex;

    .block {
        margin: auto auto;
        // background-color: #7e3f3f;
        width: 70%;
        height: 90%;

        display: flex;

        .photo {
            margin: auto auto;
            background-color: #d1bbbb;
            width: 25%;
            height: 90%;
            background-image: url("..//assets/logo/ma.jpg");
            background-size: cover;
            border: 4px solid $main_color;
        }

        .info {
            margin: auto auto;
            //  background-color: #be0b0b;
            width: 70%;
            height: 90%;

            .content {
                // background-color: #3ebe0b;
                width: 50%;
                height: 15%;
                display: flex;
                .ico {
                    // background-color: #0bbeaf;
                    width: 20%;
                    height: 100%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-image: url("..//assets/logo/icon_S.png");
                }

                .name {
                    margin: auto auto;
                    //background-color: #be620b;
                    width: 80%;
                    height: 70%;
                    color: $main_color;
                    font-family: "Roboto", serif;
                    text-transform: uppercase;
                    font-size: 30px;
                }
            }

            .text {
                width: 100%;
                height: 80%;
                //background-color: #0bbe91;

                display: inline-block;
                p {
                    text-indent: 30px;
                    padding-bottom: 8px;
                    margin: 15px auto;
                    word-wrap: break-word;
                    max-height: 37%;
                    width: 95%;
                    border-bottom: 3px solid rgb(121, 0, 0);
                    font-family: "Roboto", serif;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }
}

.cont_block {
    margin: 15px auto;
    //background-color: #ffffff;
    width: 100%;
    height: 500px;
    display: flex;

    .block {
        margin: auto auto;
        //   background-color: #3f7e54;
        width: 80%;
        height: 100%;
        display: flex;
        .map {
            margin: auto auto;
            background-color: #490000;
            width: 60%;
            height: 90%;
        }

        .contacts_block {
            margin: auto auto;
            // background-color: #ca0f0f;
            width: 33%;
            height: 90%;

            display: inline-flexbox;

            .title_cont {
                margin: auto auto;
                //  background-color: #0fca3e;
                width: 100%;
                height: 15%;
                color: #3fa480;
                display: flex;
                font-weight: 300;
                p {
                    text-align: center;
                    margin: auto auto;
                    text-transform: uppercase;
                    border-bottom: 3px solid black;
                    width: 100%;
                    height: 30px;
                    font-size: 30px;
                    font-family: "Roboto", serif;
                    padding-bottom: 5px;
                }
            }

            .block {
                margin: auto auto;
                /// background-color: #0fcab1;
                width: 100%;
                height: 85%;

                display: flex;

                .left {
                    //    background-color: #74b6ad;
                    width: 50%;
                    height: 100%;
                    text-align: center;
                    display: inline-block;

                    input {
                        margin: 5px 5px;
                        text-decoration: none;
                        width: 90%;
                        height: 30px;
                        border-radius: 7px;
                        font-size: 18px;
                        word-wrap: break-word;
                        font-weight: 300;
                        font-family: "Roboto", serif;
                        border: 1px solid rgb(83, 83, 83);
                    }

                    p {
                        font-size: 18px;
                        font-family: "Roboto", serif;
                        color: rgb(54, 54, 54);
                        font-weight: 400;
                        max-height: 40px;
                        //background-color: blue;
                        margin: 5px;
                        margin-top: 10px;
                    }

                    .info {
                        font-weight: 300;
                        font-size: 18px;
                        font-family: "Roboto", serif;
                        max-height: 20px;
                        //background-color: rgb(0, 174, 255);
                        margin-top: 5px;
                    }
                }

                .right {
                    
                    // background-color: #74b6ad;
                    width: 50%;
                    height: 100%;

                    display: inline-block;

                    input {
                        border: 1px solid rgb(83, 83, 83);
                        margin: 5px 5px;
                        text-decoration: none;
                        width: 90%;
                        height: 30px;
                        border-radius: 7px;
                        font-size: 18px;
                        font-weight: 300;
                        font-family: "Roboto", serif;
                    }

                    textarea {
                        border: 1px solid rgb(83, 83, 83);
                      font-weight: 300;
                        margin: 5px 5px;
                        text-decoration: none;
                        width: 90%;
                        height: 70%;
                        border-radius: 7px;
                        font-size: 18px;
                        word-wrap: break-word;
                        font-size: 18px;
                        font-family: "Roboto", serif;
                        resize: none;
                    }

                    .btn{
                        outline: none;
                        border: 1px solid rgb(255, 51, 0);
                        background-color:  rgb(212, 75, 75);
                        margin: 5px 5px;
                        text-decoration: none;
                        width: 90%;
                        height: 40px;
                        border-radius: 7px;
                        font-size: 18px;
                        font-weight: 300;
                        font-family: "Roboto", serif;

                        transition-duration: .4s;
                        
                        &:hover{
                         cursor: pointer;
                            background-color:  rgb(255, 20, 20);
                            border: 1px solid rgb(255, 72, 0);

                        }
                    }
                }
            }
        }
    }
}


