body {
  background-color: white;
  margin: 0 0;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;

  .logo {
    height: 100%;
    width: 110px;
    //  background-color: rgb(255, 0, 0);
    background-image: url("../assets/logo/MA2.png");
    background-size: cover;
  }

  .menu-info {
    display: inline-block;
    height: 100%;
    width: calc(100% - 110px);
    background-color: rgb(85, 85, 85);

    .info {
      display: flex;
      height: 60%;
      width: 100%;
      background-color: rgb(255, 0, 0);

      .block {
        display: flex;
        margin-left: 5px;
        height: 100%;
        width: 220px;
        //  background-color: rgb(117, 117, 117);

        .ico_mail {
          margin-top: 10px;
          height: 80%;
          width: 60px;
          //  background-color: rgb(0, 0, 0);
          background-image: url("../assets/ico/Ресурс\ 2.png");
          background-size: contain;
          background-repeat: no-repeat;
        }

        .ico_phone {
          margin-top: 10px;
          height: 70%;
          width: 50px;
          //  background-color: rgb(0, 0, 0);
          background-image: url("../assets/ico/Ресурс\ 1.png");
          background-size: contain;
          background-repeat: no-repeat;
        }

        .text {
          height: 100%;
          width: calc(100% - 70px);
       //   background-color: rgb(36, 109, 151);
margin-left: 5px;
margin-top: 3px;
          .title {
              font-size: 14px;
            margin-top: 10px;
            height: 30%;
            width: 100%;
           // background-color: rgb(90, 36, 151);
            color: rgb(34, 34, 34);
            font-family: "Roboto", serif;
          }

          .desc {
              margin-top: 3px;
            height: 40%;
            width: 100%;
           // background-color: rgb(49, 151, 36);
            color: rgb(255, 255, 255);
            font-family: "Roboto", serif;
          }
        }
      }
    }

    .menu {
      display: flex;
      height: 40%;
      width: 100%;
      background-color: rgb(255, 255, 255);

      text-align: center;


      
      .element {
        display: flex;
        height: 100%;
        width: 130px;
        margin-left: 5px;
        height: 100%;
        vertical-align: middle;

        

        img {
          display: flex;
          height: 70%;
          width: 30px;
         // box-shadow: 4px 4px 8px 0px black;
       
        //  background-color: rgb(248, 12, 12);
         // background-image: url("../assets/ico/Ресурс\ 8.png");
          background-size: contain;
        }

        p {
            margin: auto auto;
            color: rgb(27, 27, 27);
          text-transform: uppercase;
          font-family: "Roboto", serif;
          font-weight: 400;
          font-size: 18px;
          height: 18px;
          line-height: 18px;
          display: inline-block;
         // vertical-align: middle;
          width: calc(100% - 65px);
        
-webkit-user-select: none;

          &:hover{
           
            color: rgb(255, 66, 66);
            
                    }
    
    }
      }
    }
  }
}

.billboard {
  position: relative;
  display: inline-block;
  height: 450px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.185);

 background-image: url("../assets/previews/shutterstock_288224675.jpg");
 background-size: cover;
 background-position: center;
 //filter: contrast(20%);
 


  .textUs {
    position: absolute;
    bottom: 0px;

    height: 100px;
    width: 100%;
    background-color: rgb(255, 0, 0);
   
  
  }
}


.test{



}